@page "/"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IRestaurantData Db

<Row>
    <Col Span="24">
        <Carousel Autoplay="TimeSpan.FromSeconds(2)">
            <CarouselSlick>
                <img src="images/1.png" class="fw-carousel" />
            </CarouselSlick>
            <CarouselSlick>
                <img src="images/2.png" class="fw-carousel" />
            </CarouselSlick>
            <CarouselSlick>
                <img src="images/3.png" class="fw-carousel" />
            </CarouselSlick>
        </Carousel>
    </Col>
</Row>

<Title Level="1" Style="margin: 30px 0; text-align: center;">Our Restaurants</Title>

<div class="restaurant-cards">
    @foreach (var data in _restaurants)
    {
        <Card Bordered Style="width: 240px"
              Cover="GetImageFragment(data.DisplayPhoto)">
            <ChildContent>
                <CardMeta Title="@data.Name" Description="@data.Bio" />
            </ChildContent>
            <ActionTemplate>
                <CardAction><Icon Type="shopping" Theme="fill" OnClick="@(() => onRestaurantClick("setting"))"/></CardAction>
            </ActionTemplate>
        </Card>
    }
</div>



@code {
    private List<RestaurantModel> _restaurants;

    protected override async Task OnInitializedAsync()
    {
        _restaurants = await Db.GetRestaurant();
    }

    private RenderFragment GetImageFragment(byte[] byteArray)
    {
        var base64 = Convert.ToBase64String(byteArray);
        var imgSrc = $"data:image/png;base64,{base64}";

        return @<img alt="restaurant-logo" src="@imgSrc"/>;
    }

    void onRestaurantClick(string item)
    {
        Console.WriteLine($"item {item} is clicked");
    }
}
